body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*topbar*/
#topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Navbar*/
#navbarUL{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: solid;
}

/*Categorys*/
.tree_all{
  width: 250px;
  padding-left: 1em;
  margin-left: auto;
  margin-right: auto;
}

.tree_branch{
  padding-left: 2em;
}

.tree_bud{
  padding-left: 2em;
}

/*Sessions*/
.horizontal{
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}

.sessionInformation{
  margin-left: 0.3em;
}

/*input*/
.myinput{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.listitem{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.inputfields{
  margin-top: 1em;
  width: 250px;
}

.inputfield{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputbutton{
  margin-left: auto;
  margin-right: auto;
}

.inputtext{
  width: 250px;
}

/*exerciseeditor*/
.exerciseinput{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.categoryeditor{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}